.container, .menu, .search, .searchBar, .loop, .mic, .profile, .burger, .camera, .bell {
    display: flex;
}

.container {
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-inline: 1rem;
}

.burger svg:hover, 
.menu > svg:hover, 
.menu span:hover, 
.loop:hover, 
.mic:hover, 
.camera:hover, 
.bell:hover, 
.profilePic:hover {
    cursor: pointer;
} 

.burger, .camera, .bell {
    padding: 0.5rem;
    border-radius: 50%;
}

.burger:hover, .camera:hover, .bell:hover {
    background-color: rgb(47, 47, 47);
}

.menu, .profile, .loop, .mic {
    align-items: center;
}

.loop:hover::after, 
.mic:hover::after,
.camera:hover::after,
.bell:hover::after {
    position: absolute;
    top: 90px;
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* menu */
.burger {
    margin-right: 1rem;
}

.menu span {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu span::after {
    content: 'FR';
    font-size: 0.6rem;
    font-weight: normal;
    position: absolute;
}

/* search */
.loop {
    width: 4rem;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: 0 20px 20px 0;
}

.searchBar input {
    border-radius: 20px 0 0 20px;
    padding-left: 1rem;
}

.searchBar input, .loop {
    border: 1px rgb(68, 68, 68) solid;
}

.searchBar input, .loop, .mic {
    padding-block: 0.6rem;
}

.searchBar input {
    width: 35vw;
    background-color: black;
    outline: none;
    color: white;
}

.loop {
    background-color: rgb(47, 47, 47);
}

.mic {
    background-color: rgb(30, 30, 30);
    padding-inline: 0.8rem;
    border-radius: 50%;
}

.mic:hover {
    background-color: rgb(48, 48, 48);
}

.loop:hover::after {
    content: 'Search';
}

.mic:hover::after {
    content: 'Search with your voice';
    right: 365px;
}

/* profile */
.profile {
    gap: 1rem;
}

.profilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: brown;
}

.camera:hover::after {
    content: 'Create';
    right: 112px;
}

.bell:hover::after {
    content: 'Notifications';
    right: 40px;
}