.container {
    width: calc(100vw / 7 - 20px);
    gap: 1.5rem;
    align-items: center;
    padding-left: 0.75rem;
    padding-block: 0.7rem;
    border-radius: 10px;
}

.container:hover {
    background-color: rgb(47, 47, 47);
    cursor: pointer;
}

.container span {
    color: white;
    font-size: 0.9rem;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

/* If side bar icon is in the third block */
.profilePic {
    border-radius: 50%;
}