.container {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    padding-bottom: 0.7rem;
    position: fixed;
    background-color: black;
}

.container::-webkit-scrollbar {
    display: none;
}

.linksContainer {
    display: flex;
    width: max-content;
    position: relative;
}


.link {
    display: block;
    color: white;
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    padding: 0.5rem;
    margin-inline: 0.4rem;
    text-decoration: none;
}

.link:hover {
    background-color: rgb(85, 85, 85);
}

.arrow {
    display: none;
    background-color: black;
    height: 35.2px;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: 20px 0px 10px 5px black;
}

.arrow svg {
    padding: 5px;
}

.arrow svg:hover {
    cursor: pointer;
    background-color: rgb(85, 85, 85);
    border-radius: 50%;
}

.arrow:hover::after {
    content: 'Previous';
    position: absolute;
    top: 40px;
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.arrowShown {
    display: flex;
}
