.container {
    margin-left: 1.5rem;
    width: calc(100% - 1.5rem);
    height: fit-content;
    overflow-x: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.linksContainer {
    display: flex;
    width: max-content;
    position: relative;
}


.link {
    display: block;
    color: white;
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    padding: 0.5rem;
    margin-inline: 0.4rem;
    text-decoration: none;
}

.link:hover {
    background-color: rgb(85, 85, 85);
}

.arrow {
    display: none;
    background-color: black;
    height: 35.2px;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: 20px 0px 10px 5px black;
}

.arrow svg {
    padding: 5px;
}

.arrow svg:hover {
    cursor: pointer;
    background-color: rgb(85, 85, 85);
    border-radius: 50%;
}

.arrowShown {
    display: flex;
}
