.container {
    display: flex;
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    padding-block: 0.2rem;
}

.topBarItem {
    display: flex;
    gap: 0.7rem;
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.itemContainer.dash {
    align-items: flex-end;
}

.itemContainer:hover {
    background-color: rgb(67, 67, 67);
    cursor: pointer;
    border-radius: 50%;
}