.container {
    width: 300px;
}

.thumbnail {
    position: relative;
    z-index: -1;
    margin-bottom: 0.5rem;
}

.thumbnail img {
    border-radius: 10px;
}

.videoDuration {
    background-color: black;
    color: white;
    width: fit-content;
    padding-inline: 4px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.thumbnailInfo {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

.profilePic {
    border-radius: 50%;
    height: 40px;
}

.videoInfo {
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.videoInfoTitle {
    margin-bottom: 0.3rem;
}

.grey {
    color: grey;
    font-size: 0.9rem;
}