.container {
    width: fit-content;
}

.thumbnail {
    position: relative;
    z-index: -1;
    margin-bottom: 0.5rem;
}

.thumbnail img {
    border-radius: 10px;
}

.videoDuration {
    background-color: black;
    color: white;
    width: fit-content;
    padding-inline: 3px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.thumbnailInfo {
    display: flex;
    justify-content: space-between;
}

.profilePic {
    border-radius: 50%;
    height: 40px;
}

.videoInfo {
    color: white;
    display: flex;
    flex-direction: column;
}