.container {
    width: fit-content;
}

.thumbnail {
    position: relative;
}

.thumbnail img {
    border-radius: 10px;
}

.videoDuration {
    background-color: black;
    color: white;
    width: fit-content;
    padding-inline: 3px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.thumbnailInfo {
    display: flex;
}

.profilePic {
    
}

.videoInfo {
    color: white;
}